<h1>Productos</h1>

<ul id="productsList">
  {{#each products}}
    <li>{{this.title}} - {{this.price}}</li>
  {{/each}}
</ul>

<h2>Agregar producto</h2>
<form id="productForm">
  <input name="title" placeholder="Título" required />
  <input name="price" placeholder="Precio" required />
  <button type="submit">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
